*{
  margin:0;
  padding:0;
}
#first{
  width:100%;
  height:20px;
}
#a_first{
  font-size:16px;
  font-family:свт╡;
  color:black;
  text-decoration:none;
  margin-left:7%;
}
#div_main{
  background:#ededed;
  border-top:1.5px solid #CDE2DA;
  height:100%;
}
.button_first{
	background:#099463;
	border:none;
	border-radius:4px;
	color:white;
	font-family:свт╡;
	font-size:12px;
	letter-spacing:3px;
    width:80px;
	height:30px;
	margin-top:4%;
	margin-bottom:4%;
}
#button_div{
  width:100%;
  margin-right:10%;
  text-align:right;
}
#button_first2{
  margin-right:10%;
}
#div_form{
  background:#ffffff;
  margin-top:5%;
  width:80%;
  border-radius:4px;
  padding-bottom:6%;
  box-shadow:#afafaf 2px 2px 18px 1px;
}
#div_response{
  font-size:14px;
  line-height:7%;
  letter-spacing:3px;
  font-family:свт╡;
  margin-left:-65%;
  padding-top:5%;
}
#hr_lineup{
  width:99%;
  margin-top:5%;
}
.table_form{
  background:#ededed;
  border:1px solid none;
  width:90%;
  border-radius:8px;
  font-family:свт╡;
  letter-spacing:2px;
  margin-top:4%;
}
td{
  border:1px solid #ffffff;
  height:25px;
}
.td_left{
  width:23%;
  text-align:center;
  font-size:11px;
}
.td_right{
  padding-left:5%;
  font-size:10px;
}
.td_left_d{
  text-align:center;
  height:25px;
  font-size:11px;
}
.td_left_dd{
  text-align:center;
  height:25px;
  font-size:10px;
}
#footer{
  font-size:11px;
  font-family:свт╡;
  color:black; 
  margin-top:100%;
  width:100%;
  height:40px;
  line-height:40px;
}
#a_bottom{
  text-decoration:none;
  color:black;
}