#img_first{
  width:100%;
  height:100%;
}
#wapper{
  position:relative;
  height:auto;
  min-height:100%;
}
#div_up{
  width:100%;
}
.input_button{
  background:#137533;
  border:none;
  width:60px;
  height:60px;
  border-radius:60px;
  color:white;
  font-size:12px;
  font-family:свт╡;
  text-align:center;
  margin-top:6%;
  margin-bottom:6%;
}
#input_button1{
  position:relative;
  left:-20%;
}
#input_button3{
  position:relative;
  right:-20%;
}
#table_form{
  border:1px solid #b4d3c9;
  width:100%;
  text-align:center;
}
#table_form td{
  border:1px solid #b4d3c9;
  font-size:15px;
  font-family:свт╡;
}
.td_left{
  width:20%;
}
#button_response{
	background:#099463;
	border:none;
	border-radius:6px;
	color:white;
	font-family:свт╡;
	font-size:18px;
	letter-spacing:4px;
	margin-top:20%;
	width:115px;
	height:55px;
	text-decoration:none;
}
#footer{
  font-size:11px;
  font-family:свт╡;
  color:black; 
  margin-top:10%;
  width:100%;
  height:30px;
  line-height:30px;
}
#a_bottom{
  text-decoration:none;
  color:black;
}
