  body{
      background:#ededed;
  }
  #div_up,#div_bottom{
	  background:#ffffff;
	  border-radius:8px;
	  height:400px;
	  width:70%;
	  margin-top:30px;
	  margin-left:15%;
	  margin-right:15%;
	}
  .div_font{
      font-family:Ó×Ô²;
	  color:black;
	  font-size:30px;
	  width:100%;
	  height:60px;
	  text-align:left;
	  line-height:80px;
	  padding-left:20px;
  }
  .input_point{
	width:4px;
	height:4px;
	background:#e60012; 
	border-radius:15px;
	border-color:#e60012; 
  }
  .div_left{
   width:11%;
   height:60px;
   margin-top:30px;
   text-align:center;
   line-height:60px;
   float:left;
   /*border:2px solid red;*/
  }
  .input_name{
   width:80%;
   height:58px;
   margin-top:30px;
   border:2px solid white;
   background:#e5e5e5;
   font-size:20px;
   letter-spacing:5px;
   padding-left:25px;
  }
 #div_bottom{
   margin-top:30px;
 }
 #div_img{
   width:30%;
   height:50%;
   background:#e5e5e5;
   margin-left:11%;
   margin-top:50px;
   font-size:18px;
   letter-spacing:3px;
   text-align:center;
   line-height:190px;
 }
 #div_j{
   width:45px;
   height:45px;
   border-radius:30px;
   background:#19966A;
   text-align:center;
   line-height:45px;
   font-size:40px;
   color:white;
   position:relative;/*ÉÏÏÂ×óÓÒ¾ÓÖÐ*/
   top:30%;
   left:0;
   right:0;
   bottom:0;
   margin:auto;
 }
 #div_button{
   width:100%;
   height:200px;
   color:black;
   font-size:20px;
   font-family:Ó×Ô²;
   text-align:center;
 }
 #input_button{
   width:130px;
   height:45px;
   font-size:20px;
   font-family:Ó×Ô²;
   color:white;
   outline:none;
   border-radius:8px;
   border-color:#19966A;
   text-align:center;
   background:#19966A;
   position:relative;/*ÉÏÏÂ×óÓÒ¾ÓÖÐ*/
   top:30%;
 }
 #a_font{
   text-decoration:none;
   color:black;
 }
  .div_addPic{
  background:none;
  border:none;
  height:auto;
  text-align:left;
  margin:0 0;
  padding:0 0;
  text-decoration:none;
  color:white;
  }
  .file_Prew{
   position:absolute;
   cursor:pointer;
   -moz-transform:scale(1.5);
   opacity:0;
   left:-55px;
   top:7px;
   filter:alpha(opacity=0);
  }
  #image{
    width:100%;
	height:100%;
	display:none;
  }