@charset "utf-8";
/********************************
 * 响应式样式重写
 *******************************/

@media only screen and (min-width: 1200px){
  .mb30{ margin-bottom:50px;}
  .container{ width:1200px;}
  
  .page-1 .title img{ height:200px;}

  .page-7 .guide .item .mod-bd .none{ display:list-item;}
  .addTag{ margin-top:60px;}
}
/*============================*/
@media only screen and (max-width:1023px){
  .container{ width:768px;}
  .page-1 .title img{ height:120px;}
  #picScroll1,#picScroll2,#picScroll3,#picScroll4,#picScroll5,#picScroll6{ padding:0;}

  .page-7 .guide .item .mod-hd{ height:170px;}
}
/*============================*/
@media only screen and (max-width: 767px){
  .container{ width:480px;}
  .page-1 .title img{ height:90px;}
  .page-3 .data-wrap .data-box .count{ overflow:auto; height:100%;}
  .page-3 .data-wrap .data-box>div img{ width:1000px; max-width:1000px;}

  .page-4 .pic-wrap{ width:100%;}

  .page-6 .exam-doing{ width:90%;}
  .page-6 .exam-nav{ display:none;}
  .page-6 .exam-list{ position:relative; text-align:left;}
  .page-6 .exam-list li{ text-align:left;}
  .page-6 .exam-list li .box-hd{ padding:15px; font-size:14px;}
  .page-6 .exam-list li .box-hd:before{ content:attr(data-num); display:inline-block; width:14px; height:14px; font-size:12px; text-align:center; line-height:14px; background:#999; color:#fff; border-radius:50%; margin-right:5px;}
  .page-6 .exam-list li .box-bd .item{ padding-left:15px;}
  .page-6 .exam-list li .box-bd em{ background-size:100%; width:18px; height:18px;}
  .page-6 .exam-list .item .radio{ margin-top:0;}
  .page-6 .exam-list .item .option{ font-size:12px; margin-top:0; max-width:80%;}
  .page-6 .exam-list li .box-ft .correct-option{ float:none; border:none; height:auto; line-height:1.5; margin:10px; padding-right:10px;}

  .page-7 .guide>div{ margin-top:30px;}
  .page-7 .guide .item .mod-hd{ height:120px;}
}
/*============================*/
@media only screen and (max-width: 479px){
  .container{ width:320px;}
  .page-3 .data-btns .dbtn{ font-size:12px; padding:20px 10px;}
  .page-1 .title img{ height:60px;}
  .page-6 .exam-sart{ margin-top:60px; padding-bottom:0;}
  .page-6 .exam-sart .etitle{ font-size:22px;}
  .page-6 .exam-sart .etitle span{ font-size:30px;}
  .page-6 .exam-sart .intro .stbox{ height:auto; width:100%;}
  .page-6 .exam-sart .intro .text{ float:none; text-align:center;}
  .page-6 .exam-sart .intro .startBtn{ float:none; width:100%; margin-top:20px; padding-bottom:60px;}

  .page-7 .guide .item .mod-hd{ height:135px;}
  .page-7 .partner span{ display:block; text-align:center;}
  .page-7 .partner img{ max-height:20px;}
}
@media only screen and (max-width: 319px){
  .container{ width:300px;}
  .page-1 .title img{ height:50px;}
  .page-7 .guide .item .mod-hd{ height:150px;}
}
@media only screen and (min-width: 1200px) and (max-height: 740px){
  .mb30{ margin-bottom:30px;}
  .addTag{ margin-top:30px;}
  .page-7 .guide .item .mod-bd .none{ display:none;}
}
@media only screen and (orientation:portrait){
  .page-1,.page-2,.page-3,.page-4,.page-5,.page-6,.page-7{ background-size:auto 100%; background-position:center top;}
}
@media only screen and (max-height: 800px){
  .page-4 .photoWrap{ height:400px;}
  .page-4 .photoWrap ul li{ height:200px;}
}